@CHARSET "ISO-8859-1";

body{
 background: #CD853F;
}

div#title{
 
}

div.errors{
	margin-left: 20%;
}

div#menu{
/*  background: #f0e7d7; */
}
div#menuPrincipale{
	float: left;
}
ul.menu{
 font-family: Verdana, sans-serif;
    font-size: 11px;
    margin-left: 150px;
    padding: 0;
    list-style: none;
}

li.menu{
 background-color: #60a7d0;
    border-bottom: 5px solid #54BAE2;
    display: block;
    width: 150px;
    height: 30px;
    margin: 2px;
    float: left; 
}

li.menuHorizontal{
 background-color: #60a7d0;
    border-bottom: 5px solid #54BAE2;
    display: block;
    width: 150px;
    height: 30px;
    margin: 2px;
}

a.menu {
    color: #fff;
    display: block;
    font-weight: bold;
    line-height: 30px;
    text-decoration: none;
    width: 150px;
    height: 30px;
    text-align: center;
}

h1{
 font-family: Verdana, sans-serif;
    font-size: 30px;
    background-color: 1C83FF;
    border-bottom: 5px solid #4082be;
    color: #44fb3a;
    font-weight: bold;
    text-align:center;
}

h2{
	font-family: Verdana, sans-serif;
    font-size: 15px;
    background-color: 1C83FF;
    border-bottom: 5px solid #4082be;
    color: #000000;
    font-weight: bold;
    text-align:left;
}


ul.menu li.active, ul.menu li:hover {
    background-color: #54BAE2;
    border-bottom: 5px solid #1C83FF;
}

div#lateral{
	margin-left: 100px;
	margin-right: 150 px;
	margin-top: 1%;
	float: left;
}
